<% if (site.tags.length){ %>
  <div class="widget-wrap">
    <h3 class="widget-title"><%= __('标签') %></h3>
    <div class="widget tagcloud">
      <!-- <%- list_tags({show_count: theme.show_count}) %> -->
      <%- list_tags({show_count: true}) %>

      <div class="tag-cloud-tags">
        {{ tagcloud({min_font: 12, max_font: 30, amount: 200, color: true, start_color: '#ccc', end_color: '#111'}) }}
      </div>
    </div>
  </div>
<% } %>
