<% if (site.tags.length){ %>
  <div class="widget-wrap">
    <h3 class="widget-title"><%= __('云标签') %></h3>
    <div class="widget tagcloud">
      <%- tagcloud({amount:20,color:true,start_color:'#009933',end_color:'#FF6600'}) %>
    </div>
  </div>
<% } %>
